modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 6000

[[ports]]
localPort = 23744
externalPort = 3002

[[ports]]
localPort = 24964
externalPort = 5000

[[ports]]
localPort = 26251
externalPort = 3000

[[ports]]
localPort = 26252
externalPort = 4200

[userenv]

[userenv.shared]
GOOGLE_ADMIN_CLIENT_ID = "217089651267-ksup6l16jnvgep4aqol6t4spnms23tpu.apps.googleusercontent.com"
VITE_GOOGLE_CLIENT_ID = "217089651267-ksup6l16jnvgep4aqol6t4spnms23tpu.apps.googleusercontent.com"
ADMIN_JWT_SECRET = "79c8cbc6d4be7dc14c60aaf0207506292458264b3e15f29a8e75a608d9c4ed60cebf31946aac0d669ec22e206fa30c1f"
